.spac1{
    margin: 50px 0 0;
}
.spac2{
    margin: 20px 0 0;
}
.cardheight{
    line-height: 200px;
    width: 100%;
    margin: 30px 0 0;
}
.talktalk {
    font-size:14px;
    color: black;
}
.discard {
    margin: 100px 0 50px;
}